<p><%= @attribution_data[:title] %><br>
<a href="<%= @attribution_data[:access_url] %>"><%= @attribution_data[:access_url] %></a><br>
<% if @attribution_data[:publisher_name] %><%= @attribution_data[:publisher_name] %>, <% end %>Issued: <%= @attribution_data[:issued] %>.
Modified: <%= @attribution_data[:modified] %>
</p>            
