<div class="row-fluid">
    <div class="span12">
        <h2>Attribute This Dataset</h2>
        
            <% if @attribution_data[:attribution_text] %>
                <p>The creator of this data has specified the attribution text they would like you to use:</p>            
                <div class="well">
                    <a href="<%= attribution_url( @attribution_data ) %>"><%= @attribution_data[:attribution_text] %></a>
                </div>
            <% else %>                
                <% if can_build_attribution?(@attribution_data) %>
                    <p>The creator of the data has not specified the attribution text to use. Here are some possible formats for attributing this dataset:</p>
                    
                    <%= partial( :"attribution/dataset_title" ) %>
                    <%= partial( :"attribution/publisher_name" ) %>
                    <%= partial( :"attribution/publisher_and_title" ) %>
                        
                <% else %>
                    <p>Unable to build text for an attribution statement from the extracted metadata</p>                
                <% end %>
            <% end %>                
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h2>Cite This Dataset</h2>
        
        <div class="well">
            <p><%= @attribution_data[:title] %><br>
            <a href="<%= @attribution_data[:access_url] %>"><%= @attribution_data[:access_url] %></a><br>
            <% if @attribution_data[:publisher_name] %><%= @attribution_data[:publisher_name] %><% if @attribution_data[:issued] %>, <%end%><% end %><% if @attribution_data[:issued] %><%= @attribution_data[:issued] %><% end %>
            </p>
            
        </div>
        
    </div>
</div>

  <div class="row-fluid">
    <div class="span12">
        <h2>Explanation</h2>
        
        <div class="well">
            <pre><%= JSON.pretty_generate( @attribution_data ) %></pre>                    
        </div>            
    </div>
  </div>
