<div class="row-fluid">
    <div class="span12">
        <h2>Cite This Dataset</h2>
    </div>
</div>    
<div class="row-fluid">
    <div class="span8">
        
        <div class="well">
            <p><%= @attribution_data[:title] %><br>
            <a href="<%= @attribution_data[:access_url] %>"><%= @attribution_data[:access_url] %></a><br>
            <% if @attribution_data[:publisher_name] %><%= @attribution_data[:publisher_name] %><% if @attribution_data[:issued] %>, <%end%><% end %><% if @attribution_data[:issued] %><%= @attribution_data[:issued] %><% end %>
            </p>            
        </div>
        
        <% if @attribution_data[:issued] && @attribution_data[:modified] %>
        <div class="well">
            <p><%= @attribution_data[:title] %><br>
            <a href="<%= @attribution_data[:access_url] %>"><%= @attribution_data[:access_url] %></a><br>
            <% if @attribution_data[:publisher_name] %><%= @attribution_data[:publisher_name] %>, <% end %>Issued: <%= @attribution_data[:issued] %>.
            Modified: <%= @attribution_data[:modified] %>
            </p>            
        </div>         
        <% end %>
        
        <div class="well">
            <p><%= @attribution_data[:title] %><br>
            <a href="<%= @attribution_data[:access_url] %>"><%= @attribution_data[:access_url] %></a><br>
            <% if @attribution_data[:publisher_name] %><%= @attribution_data[:publisher_name] %><% if @attribution_data[:issued] %>, <br><% else %><br><%end%><% end %>
            <% if @attribution_data[:issued] %>Issued <%= @attribution_data[:issued] %>.<% end %>
            Retrieved: <%= DateTime.now.strftime("%H:%M %b %d, %Y") %>
            </p>            
        </div>        
                
    </div>
    <div class="span4">
        <p>Citations are typically more formal ways to link to a data source. While attribution statements are usually used to 
        acknowledge the efforts of a data publisher, a citation is usually intended to help a user understand which dataset (and version of that 
        dataset) was used in an application or analysis. E.g. to allow a user to recreate the analysis.</p>
        <p>
        Even if you plan to include a formal citation of a dataset, you may also need to include an attribution statement as well.
        </p>
    </div>
</div>
